.register-form  {
  margin: auto auto;
  width: 500px;

  &__field {
    margin-bottom: 15px;
    width: 400px;
  }

  &__buttons {
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
    justify-content: flex-start;
  }

  &__button {
    margin-left: 20px;
  }
}
