.form {
  border-radius: 5px;
  background: $white;

  &__header {
    font-size: 26px;
  }
}

.form, .form__items {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.field {
  margin-bottom: 15px;
  width: 400px;
}

.button {
  margin: 20px;
}