.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 8px 12px;
  height: 70px;
  background: $black;
  color: $white;
  box-sizing: border-box;

  &__title {
    text-align: center;
    font-weight: bold;
    font-size: 2em;
    text-decoration: none;

    &:link,
    &:visited,
    &:hover,
    &:focus,
    &:active {
      color: inherit;
    }
  }
}
